.container {
  margin:50px 0px;
  background: 	#D3D3D3;
  padding: 40px 10px;
}
.para {
  color:  #3E5657;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.card-sec-1 div{
  display: inline-block;
}

.card-sec-2 div {
  display: inline-block;  
}


.checkbox {
  margin-right: 22px;
  width: 20px;
  height: 20px;
  border: solid 2px #A3ACAD;
  padding-top: 10px;
}

.checkbox1 {
  margin-right: 22px;
  width: 20px;
  height: 20px;
  border: solid 2px #A3ACAD;
  padding-top: 10px;
}

.date, .time, .link {
  margin-right: 23px;
}

.link {
  margin-top: 7px;
}
img {
  padding-bottom: 10px;
}

.heading, .para {
  margin-left: 40px;
}

@media only screen and (max-width: 991px) { 
  .card-sec-list, .date, .time, .link {
    margin-right: 8px;
  }
}
@media only screen and (max-width: 766px) {
  .date, .time {
    margin-right: 10px;
    font-size: 12px;
  }
  .name {
    font-size: 25px;
  }
}

@media only screen and (max-width: 523px) {
  .date, .time {
    margin-right: 9px;
    font-size: 12px;
  }
  h5 {
    font-size: 12px;
  }
}

@media only screen and (max-width: 381px) {
  h5 {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 444px) {
  .checkbox1 {
    margin-right: 9px;
  }

  .name1> h5 {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 368px) {
  .name1> h5 {
    font-size: 15px !important;
  }

}